@import "../modules/module.scss";

html, body {
	height: 100%;
	margin: 0;
	font-family: monospace;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: inherit;
	padding: 0 20px;
}

::-webkit-scrollbar
{
	width: 0px;
}
::-webkit-scrollbar-track-piece
{
	background-color: transparent;
	-webkit-border-radius: 6px;
}