<div class="marvel-hero" ng-controller="Heroes.HeroesController">
	<div class="loader" ng-if="!hero">...Carregar dados</div>
	<div class="hero-content" ng-if="hero">
		<div class="heroes-hero">
			<div class="hero-head">
				<div class="image-hero">
					<img class="image -rounded" src="{{hero.thumbnail.path}}.jpg"/>
				</div>
				<div class="hero-informations -web">
					<p class="info -ellipsis">id: <b>{{ hero.id }}</b></p>
					<p class="info -ellipsis">Nome: <b>{{ hero.name }}</b></p>
					<p class="info -ellipsis">Descrição: <b>{{ hero.description }}</b></p>
					<p class="info -ellipsis">Atribuição: <b>Data provided by Marvel. © 2022 MARVEL</b></p>
				</div>
			</div>
			<div class="hero-body">
				<div class="subtitle comic">Quadrinhos</div>
				<div class="loader" ng-if="!comics">...Carregar dados</div>
				<div class="list-comics -scroll" ng-if="comics.length">
					<div class="card" ng-repeat="comic in comics">
						<div class="card-header">
							<div class="thumbnail">
								<img class="image -rounded" src="{{comic.thumbnail.path}}.jpg" width="90" height="90" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>