<div class="comic-book" ng-controller="Heroes.HeroesController">
	<div class="comic-heroes">
		<div class="search-heroes">
			<input class="search" type="text" name="search" ng-model="search" ng-model-options="{ debounce: 200 }" placeholder="Digite sua busca"/>
		</div>
		<div ng-if="vm.loading || (search && vm.loading)" class="loader">...Carregar Dados</div>
		<div class="list-heroes -scroll">
			<div class="card" ng-repeat="hero in heroes as results" ng-click="goTo(hero.id)">
				<div class="card-header">
					<div class="thumbnail">
						<img class="image -rounded" src="{{hero.thumbnail.path}}.jpg" width="150" height="150" />
					</div>
				</div>
			</div>
		</div>
		<div class="not-found__message" ng-show="results.length === 0 && !vm.loading">Nenhum resultado foi encontrado :(</div>
	</div>
</div>