<div class="comic-book" ng-controller="Heroes.HeroesController">
	<div class="search-heroes">
		<input class="search" type="text" name="search"/>
	</div>
	<div class="list-heroes -scroll">
		<div class="card" ng-repeat="heroe in vm.heroes">
			<div class="card-header">
				<div class="thumbnail">
					<img class="image -rounded" src="https://ogimg.infoglobo.com.br/in/25320231-3fa-ec0/FT1086A/33973739_Marvels-AvengersAge-Of-UltronHulk-Bruce-Banner-Mark-RuffaloPhFilm-FrameMarvel.jpg" width="131" height="131" />
				</div>
			</div>
			<div class="card-body">
				<span class="text -ellipsis">
					{{ heroe.name }}
				</span>
			</div>
		</div>
	</div>
</div>