.comic-book {
	> .search-heroes {
		width: 100%;
		> .search {
			width: -webkit-fill-available;
			padding: 8px;
			border: 1px solid #ced4da;
			border-radius: 3px;
		} 
	}
	> .loader {
		margin-top: 20px;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	> .list-heroes {
		margin-top: 20px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		> .card {
			margin-bottom: 26px;
			width: 150px;
			height: 131px;
			display: flex;
			flex-direction: column;
			> .card-header {
				> .thumbnail {
					> .image.-rounded {
						border-radius: 4px;
					}
				}
			}
			> .card-body {
				display: flex;
				flex-flow: column;
				justify-content: end;
				text-align: center;
				> .text {
					margin-top: -35px;
					padding-bottom: 7px;
					color: white;
					text-align: inherit;
					font-size: 21px;
					letter-spacing: 1px;
					font-weight: bold;
				}
				> .text.-ellipsis {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}
	}
	> .list-heroes.-scroll {
		max-height: 50vh;
		overflow-y: scroll;
	}
}

@media(min-width: 768px) {
	.comic-book {
		width: 60vw;
		margin: auto;
		> .search-heroes {
			width: 150px;
		}
		.list-heroes {
			justify-content: space-between;
		}
	}
}